    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="page-footer__section page-footer__info col-12 col-sm-6 col-md-6">
            <img src="/img/viaje-holdings-white.png" alt="VIAJE Logo White" class="page-footer__logo" />

            <p class="page-footer__excerpt">Eco-Friendly companies, various technology companies, and customers who use the services into the Ecosystem to compose the VIAJE&apos;s Ecosystem.</p>
          </div>
          <div class="page-footer__section page-footer__navigation col-12 col-sm-6 col-md-3">
            <h3 class="page-footer__title">Useful Links</h3>

            <ul class="page-footer__navigation-list">
              <li class="page-footer__navigation-item">
                <a href="contact" class="page-footer__navigation-link">Contact</a>
              </li>
              <li class="page-footer__navigation-item">
                <a href="company-profile" class="page-footer__navigation-link">About</a>
              </li>
            <li class="page-footer__navigation-item">
                <a href="services" class="page-footer__navigation-link">Service</a>
              </li>
            </ul>
          </div>
          <div class="page-footer__section page-footer__app-download col-12 col-sm-6 col-md-3">
            <h3 class="page-footer__title">Download Viaje App</h3>

            <div class="page-footer__app-download-icons">
              <img src="/img/apple-store-logo.png" alt="Apple Store Icon" class="page-footer__app-download-icon" />
              <img src="/img/google-playstore-logo.png" alt="Google Play Store Icon" class="page-footer__app-download-icon" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="page-footer__social-media">
              <button type="button" class="page-footer__social-media-item btn">
                <i class="fa-brands fa-facebook-f"></i>
              </button>
              <button type="button" class="page-footer__social-media-item btn">
                <i class="fa-brands fa-twitter"></i>
              </button>
              <button type="button" class="page-footer__social-media-item btn">
                <i class="fa-brands fa-instagram"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>