<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<body class="contact">
  <section class="banner page-section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1 class="banner__title">Contact</h1>
      
          <p class="banner__excerpt">We would be happy to hear your feedbacks, thoughts, and problems regarding our service</p>
      
          <button type="button" class="banner__action-btn btn btn-primary">Learn More</button>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-info page-section container">
    <div class="row">
      <div class="col">
        <div class="contact-info__item">
          <h2 class="contact-info__item-title">Email</h2>

          <p class="contact-info__item-contact">info@viajekorea.co.kr</p>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs') %>
