<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<body class="partnership">
  <section class="banner page-section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1 class="banner__title">Partnership</h1>
      
          <p class="banner__excerpt">Carbon-Free VIAJE collaborated with various local companies in Bali and as well as Korean companies to expand the business globally and provide the best service to the people in the VIAJE&apos;s Eco-system.</p>
      
          <button type="button" class="banner__action-btn btn btn-primary">Learn More</button>
        </div>
      </div>
    </div>
  </section>

  <section class="partners container">
    <div class="row">
      <div class="col">
        <h2 class="partners__title">Carbon-Free VIAJE&apos;s Partners</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="/img/logo-partnership.png" alt="Partners Logo" class="partners__logo" />
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs') %>
