@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;800&display=swap');

:root {
  --primary :#0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0,0,0,0,1)
}
  
body{
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
}

/* h1,h2,h3,h4,h5,h6,
.display-4 {
  margin-top: 12px;
  margin-bottom: 15px;
  color: var(--dark);
  font-weight: 700;
} */
/*======== COMPANY PROFILE====== */
.hero{
   background-image: url(../img/BANNER\ COMPANY\ PROFILE.png);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
 
} 
h4.text1{
  color: #3ee63e;
  margin-bottom: 25px;
  font-size: 1.9rem;
}
.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

a.btn{
  margin-top: 10px;
  color: #ffffff;
  border-color: #3ee63eb7;
  background-color: #3ee63ec5;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
}




/* img */
.col-img{
    background-image: url(../img/COMPANY\ PROFILE\ ICON.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    min-width: 400px;
}

/* img viaje project */

img{
  width: 400px;
  margin-top: 15px;
}
img{
  width: 400px;
}
h4.text2{
  color: #3ee63e;
  margin-bottom: 20px;
  font-size: 1.9rem;
}
section.project{
  margin: 20px;
}
/* =====Business model====== */
img.icon3{
  margin-top: -80px;
  width: 450px;
  height: 0 auto;
}
section.business-model{
  padding-top: 120px;
  padding-bottom: 120px;
}

h4.text3{
  color: #50dd50;
  margin-bottom: 20px;
  font-size: 1.9rem;
}

/* =====Viaje Group Companies==== */
h4.text4{
  color: #50dd50;
  
  margin-bottom: 20px;
  font-size: 1.9rem;
}

img.group{
  width: 450px;
  height: 0 auto;
}
/* ======= FOOTER ====== */

img.viaje-black{
  width: 200px;
}

/* text */
p.small{
  font-size: 0.9rem;
  color: #000000e5;
}