/*======== COMPANY PROFILE====== */

/* HERO PAGE */
.hero {
  background-image: url(../img/BANNER\ COMPANY\ PROFILE.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

h4.text1 {
  color: #3ee63e;
  margin-bottom: 25px;
  font-size: 1.9rem;
}
.hero::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a.btn {
  margin-top: 10px;
  color: #ffffff;
  border-color: #3ee63eb7;
  background-color: #3ee63ec5;
}

/*======== HERO PAGE========= */


/* ====COMPANY PROFILE========= */
.introduction .row {
  justify-content: space-between;
  align-items: center;
}

.introduction__info-title {
  margin-bottom: 4rem;
  color: var(--green);
}

.introduction__art {
  text-align: center;
}

.introduction__art-img {
  width: 80%;
  height: auto;
}
.introduction__info-excerpt{
  color: black;
}
/* img */
.col-img {
  background-image: url(../img/COMPANY\ PROFILE\ ICON.png);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  min-width: 400px;
}

/*======== img viaje project ========*/

h4.text2{
  color: var(--green);
  margin-bottom: 50px;
  font-size: 1.9rem;
  text-transform: uppercase;
}
section.project {
  margin: 20px;
}

p.small-1 {
  font-size: 0.9rem;
  color: #000000e5;
}
.viaje-picture{
  margin-top: 50px;
  margin-bottom: 40px;
}


/* =====Business model====== */

img.icon3{
  width: 100%;
  height: auto;
  margin-top: -30px;
}
/* section.business-model {
  padding-top: 120px;
  padding-bottom: 120px;
} */

h4.text3{
  color: var(--green);
  margin-bottom: -50px;
  font-size: 1.9rem;
}
p.business-text{
  margin-top: -150px;
  text-align: center;
  color: black;
}

/* =====Viaje Group Companies==== */

h4.text4{
  color: var(--green);
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 100px;
  
}

img.group {
  width: 450px;
  height: 0 auto;
  padding-top: -150px;
}

/* text */
p.small {
  font-size: 0.9rem;
  color: #000000e5;
}

/* Jarak Per Section*/

.page1{
  margin-bottom: 200px;
}
.page2{
  padding-bottom: 100px;
}
.page3{
  padding-top: 100px;
  padding-bottom: 100px;
}