/* =============== Banner Section =============== */

.contact .banner {
  background-color: var(--green);
  background: fixed url('/img/banner-contact.png') center/cover no-repeat;
}

/* =============== Contact Info Section =============== */

.contact .contact-info {
  margin-bottom: 25rem;
}

.contact .contact-info__item-title {
  color: var(--green);
}

.contact .contact-info__item-contact {
  font-weight: bold;
  font-size: 1.2rem;
}

/* =============== Breakpoints =============== */

@media screen and (max-width: 576px) {
  .contact h1.banner__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}
