/* =============== Banner Section =============== */

.contact .banner {
  height: 600px;
  padding-top: 8rem;
  background-color: var(--green);
  background: url('/img/banner-contact.png') center/cover no-repeat;
  color: white;
}

.contact h1.banner__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.contact .banner__excerpt {
  margin-bottom: 2rem;
}

.contact .banner__action-btn {
  background-color: var(--green);
  border-color: var(--green);
}

/* =============== Contact Info Section =============== */

.contact .contact-info {
  margin-bottom: 25rem;
}

.contact .contact-info__item-title {
  color: var(--green);
}

.contact .contact-info__item-contact {
  font-weight: bold;
  font-size: 1.2rem;
}
