/* =============== Banner Section =============== */

.contact .banner {
  background-color: var(--green);
  background: fixed url('/img/banner-contact.png') center/cover no-repeat;
}

/* =============== Contact Info Section =============== */

.contact .contact-info {
  margin-bottom: 25rem;
}

.contact .contact-info__item {
  margin-bottom: 2rem;
}

.contact .contact-info__item-title {
  color: var(--green);
  font-weight: 600;
}

.contact .contact-info__item-contact {
  font-weight: bold;
  font-size: 1.2rem;
}

/* =============== Breakpoints =============== */

@media screen and (min-width: 1600px) {
  .contact .contact-info__item-title {
    font-size: 2.3rem;
  }

  .contact .contact-info__item-contact {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .contact .banner {
    background-position: 80% center;
  }
}
