.home .banner {
  position: relative;
  height: 100vh;
}

.home .banner .carousel-inner {
  height: 100%;
}

.home .banner .carousel-item {
  height: 100%;
  background-color: var(--green);
  background-repeat: no-repeat;
  background-size: cover;
}

.home .banner .carousel-item--01 {
  background-image: url('/img/home-banner-01.png');
  background-position: center;
}

.home .banner .carousel-item--02 {
  background-image: url('/img/home-banner-02.png');
  background-position: center;
}

.home .banner .carousel-item--03 {
  background-image: url('/img/home-banner-03.png');
  background-position: center;
}

.home .banner .carousel-item--04 {
  background-image: url('/img/BANNER COMPANY PROFILE.png');
  background-position: center;
}

.home .banner .carousel-item--05 {
  background-image: url('/img/banner-service.png');
  background-position: center;
}

.home .banner .carousel-item--06 {
  background-image: url('/img/banner-partnership.png');
  background-position: center;
}

.home .banner .carousel-item--07 {
  background-image: url('/img/banner-contact.png');
  background-position: center;
}

.home .banner__carousel {
  height: 100%;
}

.home .banner__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: white;
}

.home .banner__info .container {
  height: 100%;
}

.home .banner__info .row {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.home h1.banner__info-headline {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  color: white;
}

.home .banner__info-excerpt {
  text-align: justify;
  text-justify: inter-word;
}

/* =============== Introduciton =============== */

.home .introduction {
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
}

.home .introduction .row {
  justify-content: center;
}

.home .introduction__title {
  margin-bottom: 1.5rem;
  color: var(--green);
  font-weight: 600;
}

/* =============== Pages Summary =============== */

.home .pages-summary {
  margin: 0;
  padding: 0;
}

.home .pages-summary .row {
  width: 100%;
  margin: 0;
}

.home .pages-summary .col {
  padding: 0;
}

.home .pages-summary__card {
  padding: 5rem 0 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.home .pages-summary__card--profile {
  background: fixed url('/img/BANNER COMPANY PROFILE.png') center/cover
    no-repeat;
}

.home .pages-summary__card--service {
  background: fixed url('/img/banner-service.png') center/cover no-repeat;
}

.home .pages-summary__card--partnership {
  background: fixed url('/img/banner-partnership.png') center/cover no-repeat;
}

.home .pages-summary__card--contact {
  background: fixed url('/img/banner-contact.png') center/cover no-repeat;
}

.home .pages-summary__card-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.home a.pages-summary__card-btn {
  margin-top: 0;
  background-color: var(--green);
  color: white;
}

.home .page-footer {
  margin-top: 0;
}

/* =============== Breakpoints =============== */

@media screen and (min-width: 1600px) {
  .home .pages-summary__card {
    padding: 8rem 0 8rem;
  }

  .home .pages-summary__card-title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 992px) {
  .home .banner .carousel-item--06,
  .home .pages-summary__card--partnership {
    background-position: 80% center;
  }

  .home .banner .carousel-item--07,
  .home .pages-summary__card--contact {
    background-position: 80% center;
  }

  .home h1.banner__info-headline {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .home .banner .carousel-item--01 {
    background-position: 80% center;
  }

  .home .banner .carousel-item--02 {
    background-position: 80% center;
  }

  .home .banner .carousel-item--03 {
    background-position: 80% center;
  }

  .home .banner .carousel-item--05,
  .home .pages-summary__card--service {
    background-position: 80% center;
  }

  .home .banner__info {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .home .banner .carousel-item--01 {
    background-position: 70% center;
  }

  .home .banner .carousel-item--03 {
    background-position: 75% center;
  }
}
