.home .banner {
  position: relative;
}

.home .banner .carousel-inner {
  height: 100vh;
}

.home .banner .carousel-item {
  height: 100%;
}

.home .banner__carousel {
  min-height: 100vh;
}
.home .banner__carousel-image {
  height: 100%;
  object-fit: cover;
}

.home .banner__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 50%;
  padding-top: 8rem;
  color: white;
}

.home h1.banner__info-headline {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  color: white;
}

.home .banner__info-excerpt {
  text-align: justify;
  text-justify: inter-word;
}

.home .page-footer {
  display: none;
}

/* =============== Breakpoints =============== */

@media screen and (max-width: 992px) {
  .home .banner__info {
    width: 60%;
  }

  .home h1.banner__info-headline {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .home .banner__info {
    width: 100%;
  }
}
