.navbar.nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-nav .nav-link.active {
  color: var(--green);
}

.navbar-red {
  background: #fff;
  height: 80px;
  box-shadow: 0px 2px 5px rgba(119, 119, 119, 0.719);
}

img.logo {
  width: 150px;
  height: auto;
}

.nav-link {
  color: black;
  font-size: 1rem;
  margin: 8px;
}

.nav-link:hover {
  color: var(--green);
}

.navbar__lang-item {
  display: inline-block;
}

.navbar__lang-item:nth-child(1) {
  margin-right: 0.5rem;
}

.navbar__lang-image {
  width: 30px;
  height: auto;
}

.dropdown-item__flag {
  display: inline-block;
  margin-right: 0.5rem;
}

.dropdown-item__image {
  width: 30px;
  height: auto;
}

/* =============== Breakpoints =============== */

@media screen and (max-width: 768px) {
  img.logo {
    width: 100px;
  }
}
