.navbar.nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-nav .nav-link.active {
  color: var(--green);
}

.navbar-red {
  background:#fff;
  width: 100%;
  height: 80px;
  box-shadow:0px 2px 5px rgba(119, 119, 119, 0.719);
    
}

img.logo {
  width: 150px;
  height: auto;
}

.nav-link {
  color: black;
  font-size: 1rem;
  margin: 8px;
}

.nav-link:hover {
  color: var(--green);
}

.navbar__lang-item {
  display: inline-block;
}

.navbar__lang-item:nth-child(1) {
  margin-right: 0.5rem;
}

.navbar__lang-image {
  width: 30px;
  height: auto;
}

.dropdown-item__flag {
  display: inline-block;
  margin-right: 0.5rem;
}

.dropdown-item__image {
  width: 30px;
  height: auto;
}

@media (max-width:991px) {
    .ul-bg{
        background-color: #00ff4cfb;
        height: auto;
        border-radius: 10px;
    }
    .navbar-red{
        width: 100%;
        height: 70px;
        box-shadow:0px 2px 5px rgba(119, 119, 119, 0.719);
    }
    .nav-link{
        color:#040504;
        font-size: 1.0rem;
        position: relative;
    }
    img.logo{
        padding-bottom: 25px;
        width: 150px;
        height: 0 auto; 
    }
    .navbar-toggler{
        color: #00ff4cfb;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 768px) {
  img.logo {
    width: 100px;
  }
}
