/* =============== Banner Section =============== */

.partnership .banner {
  background-color: var(--green);
  background: fixed url('/img/banner-partnership.png') center/cover no-repeat;
}

/* =============== Partners Logo =============== */

.partnership .partners {
  margin-bottom: 8rem;
}

.partnership .partners__title {
  margin-bottom: 3rem;
  text-align: center;
}

.partnership .partners__logo-col {
  text-align: center;
}

.partnership .partners__logo-mbi {
  width: 40%;
  margin: 0 auto;
  max-width: 530px;
}

.partnership .partners__logo-partners {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

/* =============== Breakpoints =============== */

@media screen and (min-width: 1600px) {
  .partnership .partners__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .partnership .banner {
    background-position: 80% center;
  }

  .partnership .partners__logo {
    top: -50px;
  }
}

@media screen and (max-width: 768px) {
  .partnership .partners__logo {
    top: -30px;
  }
}
