/* =============== Banner Section =============== */

.partnership .banner {
  background-color: var(--green);
  background: url('/img/banner-partnership.png') center/cover no-repeat;
}

/* =============== Partners Logo =============== */

.partnership .partners .row:nth-child(2) .col {
  text-align: center;
}

.partnership .partners__title {
  text-align: center;
  color: var(--green);
}

.partnership .partners__logo {
  position: relative;
  top: -100px;
  width: 100%;
}

/* =============== Breakpoints =============== */

@media screen and (max-width: 992px) {
  .partnership h1.banner__title {
    font-size: 3rem;
  }

  .partnership .partners__logo {
    top: -50px;
  }
}

@media screen and (max-width: 768px) {
  .partnership .partners__logo {
    top: -30px;
  }
}

@media screen and (max-width: 576px) {
  .partnership h1.banner__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}
