/* =============== Banner Section =============== */

.services .banner {
  background-color: var(--green);
  background: fixed url('/img/banner-service.png') center/cover no-repeat;
}

/* =============== Introduction Section =============== */

.services .introduction .row {
  justify-content: space-between;
  align-items: center;
}

.services .introduction__info-title {
  margin-bottom: 2rem;
  color: var(--green);
  font-weight: 600;
}

.services .introduction__art {
  text-align: center;
}

.services .introduction__art-img {
  width: 70%;
  height: auto;
}

/* =============== Bike Showcase Section =============== */

.services .bike-showcase {
  margin-bottom: 8rem;
}

.services .bike-showcase .tns-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .bike-showcase .tns-controls button {
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  background-color: var(--green);
  border: 1px solid var(--green);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  outline: 1px solid var(--green-dark-1);
  transition: background-color 200ms ease-in;
}

.services .bike-showcase .tns-controls button:hover {
  background-color: var(--green-dark-1);
}

.services .bike-showcase .tns-nav {
  display: none;
}

.services .bike-showcase__header {
  text-align: center;
  margin-bottom: 2rem;
}

.services .bike-showcase__title {
  color: var(--green);
  font-weight: 600;
}

.services .bike-showcase__img {
  margin-bottom: 3rem;
}

.services .bike-showcase__img img {
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
}

/* =============== Bike Showcase Slider =============== */

/* .services .bike-showcase__img img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  filter: grayscale(1);
  opacity: 0.5;
  transform: scale(50%);
  transition: all 200ms ease-in;
}

.services .bike-showcase__img-active img {
  filter: none;
  opacity: 1;
  transform: scale(100%);
} */

.services .bike-showcase__features-icons {
  width: 60%;
  margin: 0 auto;
}

/* =============== Easy Payment Section =============== */

.services .easy-payment {
  margin-bottom: 0;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--green);
  background: url('/img/viapoint-service.png') no-repeat;
  background-position: -300px 45%;
}

.services .easy-payment__img {
  display: none;
}

.services .easy-payment__info {
  text-align: right;
}

.services .easy-payment__info-title {
  margin-bottom: 1.5rem;
  color: var(--green);
  font-weight: 600;
}

/* =============== Metaverse Section =============== */

.services .metaverse {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--green);
  background: url('/img/service-icon-metaverse.png') no-repeat;
  background-position: 100% 45%;
  background-size: 47%;
}

.services .metaverse__img {
  display: none;
}

.services .metaverse__info-title {
  margin-bottom: 1.5rem;
  color: var(--green);
  font-weight: 600;
}

/* =============== Breakpoints =============== */

@media screen and (min-width: 1600px) {
  .services .introduction__info-title,
  .services .bike-showcase__title,
  .services .easy-payment__info-title,
  .services .metaverse__info-title {
    font-size: 3rem;
  }

  .services .easy-payment {
    background-position: -320px 45%;
    background-size: 70%;
  }

  .services .metaverse {
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-size: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .services .easy-payment {
    background-position: -400px 45%;
  }

  .services .metaverse {
    background-size: 55%;
  }
}

@media screen and (max-width: 992px) {
  .services .introduction__art-img {
    width: 80%;
  }

  .services .bike-showcase__img img {
    width: 60%;
  }

  .services .bike-showcase__features-icons {
    width: 80%;
  }

  .services .easy-payment {
    background-position: -450px 45%;
  }

  .services .easy-payment .container-fluid .row,
  .services .metaverse .container-fluid .row {
    margin-right: 0;
    margin-left: 0;
  }

  .services .easy-payment .container-fluid .col,
  .services .metaverse .container-fluid .col {
    padding-right: 0;
    padding-left: 0;
  }

  .services .metaverse {
    background-size: 60%;
  }
}

@media screen and (max-width: 768px) {
  .services .banner {
    background-position: 80% center;
  }

  .services .introduction .row > div:nth-child(1) {
    order: 2;
  }

  .services .introduction .row > div:nth-child(2) {
    order: 1;
  }

  .services .introduction__art {
    margin-bottom: 1rem;
  }

  .services .introduction__art-img {
    width: 60%;
  }

  .services .bike-showcase__img img {
    width: 80%;
  }

  .services .bike-showcase__features-icons {
    width: 100%;
  }

  .services .easy-payment {
    background: none;
    margin-bottom: 5rem;
    padding: 0;
  }

  .services .easy-payment__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .services .easy-payment__info {
    text-align: left;
  }

  .services .metaverse {
    background: none;
    margin-bottom: 5rem;
    padding: 0;
  }

  .services .metaverse__img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto 1rem;
  }
}

@media screen and (max-width: 576px) {
  .services .easy-payment .container-fluid {
    height: 300px;
    margin-bottom: 1rem;
  }

  .services .easy-payment .container-fluid .row,
  .services .easy-payment .container-fluid .col,
  .services .metaverse .container-fluid .row,
  .services .metaverse .container-fluid .col {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .services .easy-payment__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .services .metaverse__img {
    width: 100%;
  }
}
