/* =============== Banner Section =============== */

.services .banner {
  height: 600px;
  padding-top: 8rem;
  background-color: var(--green);
  background: url('/img/banner-service.png') center/cover no-repeat;
  color: white;
}

.services h1.banner__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.services .banner__excerpt {
  margin-bottom: 2rem;
}

.services .banner__action-btn {
  background-color: var(--green);
  border-color: var(--green);
}

/* =============== Introduction Section =============== */

.services .introduction .row {
  justify-content: space-between;
  align-items: center;
}

.services .introduction__info-title {
  margin-bottom: 2rem;
  color: var(--green);
}

.services .introduction__art {
  text-align: center;
}

.services .introduction__art-img {
  width: 70%;
  height: auto;
}

/* =============== Bike Showcase Section =============== */

.services .bike-showcase {
  margin-bottom: 8rem;
}

.services .bike-showcase__header {
  text-align: center;
}

.services .bike-showcase__title {
  color: var(--green);
}

.services .bike-showcase__img {
  margin-bottom: 2rem;
}

.services .bike-showcase__img img {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.services .bike-showcase__features-icons {
  width: 80%;
  margin: 0 auto;
}

/* =============== Easy Payment Section =============== */

.services .easy-payment {
  margin-bottom: 0;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--green);
  background: url('/img/viapoint-service.png') no-repeat;
  background-position: -300px 45%;
}

.services .easy-payment__info {
  text-align: right;
}

.services .easy-payment__info-title {
  margin-bottom: 1.5rem;
  color: var(--green);
  text-transform: uppercase;
  font-weight: bold;
}

/* =============== Metaverse Section =============== */

.services .metaverse {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--green);
  background: url('/img/service-icon-metaverse.png') no-repeat;
  background-position: 100% 45%;
  background-size: 47%;
}

.services .metaverse__info-title {
  margin-bottom: 1.5rem;
  color: var(--green);
  text-transform: uppercase;
  font-weight: bold;
}

/* =============== Breakpoints =============== */

@media screen and (max-width: 1200px) {
  .services .easy-payment {
    background-position: -400px 45%;
  }
}

@media screen and (max-width: 992px) {
  .services h1.banner__title {
    font-size: 3rem;
  }

  .services .introduction__art-img {
    width: 80%;
  }

  .services .easy-payment {
    background-position: -450px 45%;
  }
}

@media screen and (max-width: 768px) {
  .services .introduction .row > div:nth-child(1) {
    order: 2;
  }

  .services .introduction .row > div:nth-child(2) {
    order: 1;
  }

  .services .introduction__art {
    margin-bottom: 1rem;
  }

  .services .introduction__art-img {
    width: 60%;
  }

  .services .bike-showcase__img img {
    width: 80%;
  }

  .services .bike-showcase__features-icons {
    width: 100%;
  }

  .services .easy-payment {
    background: none;
    margin-bottom: 5rem;
    padding: 0;
  }

  .services .easy-payment__info {
    text-align: left;
  }

  .services .metaverse {
    background: none;
    margin-bottom: 5rem;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .services h1.banner__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}
