@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root {
  --green: #57ba35;
  --green-dark-1: #4ea730;
  --green-dark-2: #46952a;
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #444;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0, 1);
}

body {
  font-family: 'Montserrat', 'sans-serif';
  line-height: 1.7;
  color: var(--body);
}

.page-section {
  margin-bottom: 5rem;
}

/* =============== Page Banner =============== */

.page-banner {
  height: 100vh;
  padding-top: 10rem;
  color: white;
}

.page-banner__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.page-banner__excerpt {
  margin-bottom: 2rem;
}

/* =============== Buttons =============== */

.primary-btn {
  background-color: var(--green);
  border-color: var(--green);
  color: white;
}

.primary-btn:hover {
  background-color: var(--green-dark-1);
  border-color: var(--green-dark-1);
  color: white;
}

.primary-btn:active {
  background-color: var(--green-dark-2);
  border-color: var(--green-dark-2);
  color: white;
}

/* =============== Page footer =============== */

.page-footer {
  margin-top: 5rem;
  padding: 2rem 0;
  background-color: var(--dark);
  color: white;
}

.page-footer .row:nth-child(1) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.page-footer__logo {
  display: block;
  width: 180px;
  height: auto;
  margin-bottom: 0.8rem;
}

.page-footer__title {
  font-size: 1.3rem;
  color: white;
}

.page-footer__navigation-list {
  list-style: none;
  padding: 0;
}

.page-footer__navigation-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 200ms ease-out;
}

.page-footer__navigation-link:hover {
  color: white;
}

.page-footer__app-download {
  text-align: center;
}

.page-footer__app-download-icon {
  width: 150px;
  height: auto;
  margin-bottom: 0.5rem;
}

.page-footer__social-media {
  display: flex;
  justify-content: flex-end;
}

.page-footer__social-media-item {
  margin-left: 1rem;
  background-color: white;
  border-radius: 50%;
}

/* =============== Breakpoints =============== */

/* 
  - 576
  - 768
  - 992
  - 1200
  - 1400
*/

@media screen and (max-width: 992px) {
  .page-banner__title {
    font-size: 3rem;
  }

  .page-footer__title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .page-footer__info {
    margin-bottom: 2rem;
  }

  .page-footer__app-download {
    text-align: left;
  }

  .page-footer__social-media {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .page-banner__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .page-footer__info {
    margin-bottom: 0;
  }

  .page-footer__section:not(:last-child) {
    margin-bottom: 1rem;
  }
}
